section#articles-section {
  padding-top: 30px;
  padding-bottom: 80px;
}
section#articles-section div.look-more {
  margin-top: 20px;
  text-align: center;
}
section#articles-section div.look-more a {
  background-color: #00662e;
  color: #fff;
  width: 250px;
  display: inline-block;
  text-align: center;
  font-family: Trajan;
  font-size: 14px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
section#articles-section div.look-more a:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  letter-spacing: 0.5px;
}
