
<div class="article-card" itemscope="itemscope" itemtype="http://schema.org/Article"><a href="./article.html" itemprop="url">
    <div class="img-block">
      <div class="img" itemprop="image" style="background-image: url(./img/items/b3.jpg);"></div>
      <div class="overlay"></div><span class="button">Читать</span>
    </div>
    <div class="text-block"><span class="title" itemprop="name">Как правильно оформить кафе-пекарню?</span>
      <meta itemprop="headline" content="Как правильно оформить кафе-пекарню?"/>
      <div class="date">
        <p>29 августа 2018</p>
      </div>
      <meta itemprop="datePublished" content="2018-08-29"/>
      <div class="description" itemprop="description">
        <p>Красиво оформленное кафе, комфортное, с атмосферой уюта, в ассортименте с вкусной выпечкой, заставит вернуться любого. От оформления кафе - пекарни во многом зависит успех заведения. Оно должно быть привлекательным, в то же время не отвлекать от поедания сладостей и чаепития. Планировка кондитерской лавки должна отличаться от питейных или игровых заведений, ресторанов или общепита.</p>
      </div>
      <meta itemprop="articleBody" content="Красиво оформленное кафе, комфортное, с атмосферой уюта, в ассортименте с вкусной выпечкой, заставит вернуться любого. От оформления кафе - пекарни во многом зависит успех заведения. Оно должно быть привлекательным, в то же время не отвлекать от поедания сладостей и чаепития. Планировка кондитерской лавки должна отличаться от питейных или игровых заведений, ресторанов или общепита."/><span class="text-overlay">   </span>
    </div></a></div>