
<footer itemscope="itemscope" itemtype="http://schema.org/WPFooter">
  <ul class="columns" itemscope="itemscope" itemtype="http://schema.org/Organization">
    <li class="simple" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
      <div><a href="./worker-auth.html" itemprop="url" rel="nofollow">Кабинет брокера</a><a href="./sitemap.html" itemprop="url">Карта сайта</a><a href="./terms-of-use.html" itemprop="url">Пользовательское соглашение</a></div>
    </li>
    <li class="information">
      <div class="social"><a href="https://vk.com/vbiznese" target="_blank" itemprop="sameAs"> <img src="img/icons/social-vk.svg" alt="vbiznese во Вконтакте"/></a><a href="https://www.facebook.com/goodwillbro/" target="_blank" itemprop="sameAs"> <img src="img/icons/social-fb.svg" alt="vbiznese в Facebook"/></a><a href="https://www.instagram.com/vbiznese.ru/" target="_blank" itemprop="sameAs"><img src="img/icons/social-insta.svg" alt="vbiznese в Instagram"/></a></div>
      <meta itemprop="telephone" content="8(812)502-11-99"/>
      <address itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><a class="phone" itemprop="telephone" href="tel:88125021199">8 (812) 502-11-99</a><br/>
        <p class="together" itemprop="address">г.Санкт-Петербург,<br>наб.Обводного канала 93А</p>
        <p> <span itemprop="name">vbiznese.ru </span><span itemprop="copyrightYear">- 2019. </span>Все права защищены.</p>
      </address>
    </li>
    <div class="last">
      <p>
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </p>
    </div>
  </ul>
</footer>