
<section id="last-action">
  <div class="background">
    <div class="img"></div>
    <div class="gradient"></div>
  </div>
  <div class="content">
    <div class="logo"><img src="./img/logo-color.svg" alt="Белый логотип ВБИЗНЕСЕ"/></div>
    <div class="headers"><b class="b1">Оставьте заявку</b><b class="b2">Это самый быстрый способ решить задачу.</b></div>
    <form form-gb-page="|!TODO: адрес текущей страницы!|" form-gb-desc="last-action-section"> 
      <div class="errors form-gb_errors"></div>
      <input class="simple form-gb_input-name" type="text" placeholder="Как к Вам обращаться?"/>
      <input class="simple form-gb_input-phone" type="text" placeholder="Ваш телефонный номер"/>
      <div class="checkbox">
        <input class="form-gb-checkbox" id="last-action_form-gb-checkbox" type="checkbox" name="form-gb-checkbox" checked="checked"/>
        <label for="last-action_form-gb-checkbox">Я даю согласие на обработку персональных данных по условиям <a href="./terms-of-use.html">пользовательского соглашения</a></label>
      </div>
      <div class="form-button_div"><a class="form-button form-gb_button">Отправить</a></div>
      <div class="loading form-gb_loading"><img src="./img/icons/loading-white.svg" alt="Загрузка"/></div>
    </form>
  </div>
</section>