
<header>
  <div id="menu-admin-desktop">
    <div class="logo"><a href="./index.html"><img src="./img/logo-color.svg"/></a></div><span class="header">Кабинет брокера</span>
    <nav>
      <div><a href="./index.html"><img class="main" src="./img/icons/home.svg"/>
          <p>Обзор</p></a></div>
      <div><a href="./index.html"><img class="main" src="./img/icons/search.svg"/>
          <p>Парсер</p></a></div>
      <div><a href="./catalog.html"><img class="main" src="./img/icons/bag.svg"/>
          <p>Аудиты</p><img class="arrow" src="./img/icons/arrow-right.svg"/>
          <div class="levels">
            <div class="level-one">
              <div><a href="./catalog.html">
                  <p>+ Добавить аудит</p></a></div>
              <div><a href="./catalog.html">
                  <p>Мои аудиты</p></a></div>
              <div><a href="./catalog.html">
                  <p>Все аудиты</p></a></div>
              <div><a href="./catalog.html">
                  <p>Ожидающие аудита / непрошли аудит</p></a></div>
              <div><a href="./catalog.html">
                  <p>Взятые на аудит</p></a></div>
              <div><a href="./catalog.html">
                  <p>Ожидающие проверку</p></a></div>
            </div>
          </div></a></div>
      <div><a href="./services.html"><img class="main" src="./img/icons/gift.svg"/>
          <p>Объекты</p><img class="arrow" src="./img/icons/arrow-right.svg"/>
          <div class="levels">
            <div class="level-one">
              <div><a href="./catalog.html">
                  <p>+ Добавить объект</p></a></div>
              <div><a href="./catalog.html">
                  <p>Мои объекты</p></a></div>
              <div><a href="./catalog.html">
                  <p>Все объекты</p></a></div>
            </div>
          </div></a></div>
    </nav>
    <div class="bottom-part"><a href="/"><img class="arrow" src="./img/icons/arrow-right.svg"/>
        <p>Вернуться на сайт</p></a></div>
  </div>
  <div id="menu-admin-mobile">
    <div class="menu-admin-mobile_overlay"></div>
    <div class="top-line"><a class="button menu-admin-mobile_show-menu-block"><img src="img/icons/menu.svg" alt=""/></a><a class="logo" href="/index.html">
        <p>ВБИЗНЕСЕ</p></a></div>
    <div class="menu-block">
      <div class="logo"><a href="/index.html">
          <p>ВБИЗНЕСЕ</p></a></div><span class="header">Кабинет брокера</span>
      <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <div><a href="./index.html"><img class="main" src="./img/icons/home.svg"/>
            <p>Обзор</p></a></div>
        <div><a href="./index.html"><img class="main" src="./img/icons/search.svg"/>
            <p>Парсер</p></a></div>
        <div><a href="./catalog.html"><img class="main" src="./img/icons/bag.svg"/>
            <p>Аудиты</p></a></div>
        <div><a href="./services.html"><img class="main" src="./img/icons/gift.svg"/>
            <p>Объекты</p></a></div>
      </nav>
      <div class="bottom-part"><a href="/"><img class="arrow" src="./img/icons/arrow-right.svg"/>
          <p>Вернуться на сайт</p></a></div>
    </div>
  </div>
</header>
<div id="submit-your-application">
  <div class="submit-your-application_overlay submit-your-application_close"></div>
  <form form-gb-page="|!TODO: адрес текущей страницы!|" form-gb-desc="popup-form">
    <div class="close_div"><img class="close submit-your-application_close" src="./img/icons/close.svg" alt="Закрыть"/></div>
    <div class="header">
      <p>Оставить заявку</p>
    </div>
    <div class="errors form-gb_errors"></div>
    <input class="form-gb_input-name" type="text" placeholder="Как к Вам обращаться?*"/>
    <input class="form-gb_input-phone" type="text" placeholder="Ваш телефонный номер*"/>
    <textarea class="form-gb_input-comment" type="text" placeholder="Что Вас интересует?"></textarea>
    <div class="checkbox">
      <input class="form-gb-checkbox" id="menu_form-gb-checkbox" type="checkbox" name="form-gb-checkbox" checked="checked"/>
      <label for="menu_form-gb-checkbox">Я даю согласие на обработку персональных данных по условиям <a href="./terms-of-use.html">пользовательского соглашения</a></label>
    </div>
    <div class="form-button_div"><a class="form-button form-gb_button">Отправить</a></div>
    <div class="loading form-gb_loading"><img src="./img/icons/loading-green.svg" alt="Загрузка"/></div>
  </form>
</div>