
<div id="menu-large">
  <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    <div><a href="./index.html" itemprop="url">
        <p>Главная</p></a></div>
    <div><a href="./catalog.html" itemprop="url">
        <p>Каталог</p></a></div>
    <div><a href="./services.html" itemprop="url">
        <p>Услуги            </p></a></div>
    <div><a href="./articles.html" itemprop="url">
        <p>Статьи</p></a></div>
    <div><a href="./about.html" itemprop="url">
        <p>О нас</p></a></div>
    <div class="action"><a class="submit-your-application_open">
        <p>Оставить заявку</p></a></div>
    <div class="phone"><a href="tel:88125021199" itemprop="url"><img src="./img/icons/mobile-white.svg" alt=""/>
        <p>8 (812) 502-11-99</p></a></div>
  </nav>
</div>