
<header>
  <div id="menu-simple-desktop">
    <div class="logo"><a href="./index.html"><img src="./img/logo-color.svg" alt="Логотип ВБИЗНЕСЕ"/></a></div>
    <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
      <div><a href="./index.html" itemprop="url"><img class="main" src="./img/icons/home.svg" alt="Главная"/>
          <p>Главная</p></a></div>
      <div><a href="./catalog.html" itemprop="url"><img class="main" src="./img/icons/bag.svg" alt="Каталог"/>
          <p>Каталог</p><img class="arrow" src="./img/icons/arrow-right.svg" alt="Выпадающее меню"/></a>
        <div class="levels">
          <div class="level-one">
            <div><a href="./catalog.html" itemprop="url">
                <p>--Все категории--</p></a></div>
            <div><a href="./catalog.html" itemprop="url">
                <p>Гостиничный бизнес</p>
                <div class="arrow"></div></a>
              <div class="level-two">
                <div><a href="./catalog.html" itemprop="url">
                    <p>--Все типы--</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Отели</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Хостелы</p></a></div>
              </div>
            </div>
            <div><a href="./catalog.html" itemprop="url"> 
                <p>Индустрия красоты</p>
                <div class="arrow"></div></a>
              <div class="level-two">
                <div><a href="./catalog.html" itemprop="url">
                    <p>--Все типы--</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Салоны красоты</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Студии маникюра</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Медицинские центры</p></a></div>
              </div>
            </div>
            <div><a href="./catalog.html" itemprop="url">
                <p>Общественное питание</p>
                <div class="arrow"></div>
                <div class="level-two">
                  <div><a href="./catalog.html" itemprop="url">
                      <p>--Все типы--</p></a></div>
                  <div><a href="./catalog.html" itemprop="url">
                      <p>Кафе</p></a></div>
                  <div><a href="./catalog.html" itemprop="url">
                      <p>Кофейни</p></a></div>
                  <div><a href="./catalog.html" itemprop="url">
                      <p>Пивные магазины</p></a></div>
                </div></a></div>
            <div><a href="./catalog.html" itemprop="url">
                <p>Гостиничный бизнес</p>
                <div class="arrow"></div></a>
              <div class="level-two">
                <div><a href="./catalog.html" itemprop="url">
                    <p>--Все типы--</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Отели</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Хостелы</p></a></div>
              </div>
            </div>
            <div><a href="./catalog.html" itemprop="url"> 
                <p>Индустрия красоты</p>
                <div class="arrow"></div></a>
              <div class="level-two">
                <div><a href="./catalog.html" itemprop="url">
                    <p>--Все типы--</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Салоны красоты</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Студии маникюра</p></a></div>
                <div><a href="./catalog.html" itemprop="url">
                    <p>Медицинские центры</p></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div><a href="./services.html" itemprop="url"><img class="main" src="./img/icons/gift.svg" alt="Услуги"/>
          <p>Услуги</p><img class="arrow" src="./img/icons/arrow-right.svg" alt="Выпадающее меню"/></a>
        <div class="levels">
          <div class="level-one">
            <div><a href="./services_buy-business.html" itemprop="url">
                <p>Купить бизнес</p></a></div>
            <div><a href="./services_sell-business.html" itemprop="url">
                <p>Продать бизнес</p></a></div>
          </div>
        </div>
      </div>
      <div><a href="./articles.html" itemprop="url"><img class="main" src="./img/icons/book.svg" alt="Статьи"/>
          <p>Статьи</p></a></div>
      <div><a href="./about.html" itemprop="url"><img class="main" src="./img/icons/user.svg" alt="О нас"/>
          <p>Контакты</p></a></div>
      <div><a class="submit-your-application_open"><img class="main" src="./img/icons/hand-point-right.svg" alt="Оставить заявку"/>
          <p>Оставить заявку</p></a></div>
    </nav>
    <div class="bottom-part"><a class="phone" href="tel:88125021199">8 (812) 502-11-99</a>
      <p class="adress">г.Санкт-Петербург, <br> наб. Обводного канала 93А</p>
      <div class="socials"><a href="vk.com"><img src="./img/icons/social-vk.svg" alt=""/></a><a href="facebook.com"><img src="./img/icons/social-fb.svg" alt=""/></a><a href="instagram.com"><img src="./img/icons/social-insta.svg" alt=""/></a></div>
    </div>
  </div>
  <div id="menu-simple-mobile">
    <div class="menu-simple-mobile_overlay"></div>
    <div class="top-line"><a class="button menu-simple-mobile_show-menu-block"><img src="img/icons/menu.svg" alt=""/></a><a class="logo" href="/index.html">
        <p>ВБИЗНЕСЕ</p></a></div>
    <div class="menu-block">
      <div class="logo"><a href="/index.html">
          <p>ВБИЗНЕСЕ</p></a></div>
      <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <div><a href="./index.html" itemprop="url"><img class="main" src="./img/icons/home.svg" alt="Главная"/>
            <p>Главная</p></a></div>
        <div><a href="./catalog.html" itemprop="url"><img class="main" src="./img/icons/bag.svg" alt="Каталог"/>
            <p>Каталог</p></a></div>
        <div><a href="./services.html" itemprop="url"><img class="main" src="./img/icons/gift.svg" alt="Услуги"/>
            <p>Услуги</p></a></div>
        <div><a href="./articles.html" itemprop="url"><img class="main" src="./img/icons/book.svg" alt="Статьи"/>
            <p>Статьи</p></a></div>
        <div><a href="./about.html" itemprop="url"><img class="main" src="./img/icons/user.svg" alt="О нас"/>
            <p>О нас</p></a></div>
        <div><a class="submit-your-application_open"><img class="main" src="./img/icons/hand-point-right.svg" alt="Оставить заявку"/>
            <p>Оставить заявку</p></a></div>
      </nav>
      <div class="bottom-part"><a class="phone" href="tel:88125021199">8 (812) 502-11-99</a>
        <p class="adress">г.Санкт-Петербург, <br> ул.Вбизнеса 123</p>
        <div class="socials"><a href="vk.com"><img src="./img/icons/social-vk.svg" alt=""/></a><a href="facebook.com"><img src="./img/icons/social-fb.svg" alt=""/></a><a href="instagram.com"><img src="./img/icons/social-insta.svg" alt=""/></a></div>
      </div>
    </div>
  </div>
</header>
<section id="preloading">
  <div class="logo"><img src="./img/logo-color.svg" alt="Загрузка ВБИЗНЕСЕ"/></div><img class="loader" src="./img/icons/loading-line-green.svg" alt="Загрузка ВБИЗНЕСЕ"/>
</section>
<div id="submit-your-application">
  <div class="submit-your-application_overlay submit-your-application_close"></div>
  <form form-gb-page="|!TODO: адрес текущей страницы!|" form-gb-desc="popup-form">
    <div class="close_div"><img class="close submit-your-application_close" src="./img/icons/close.svg" alt="Закрыть"/></div>
    <div class="header">
      <p>Оставить заявку</p>
    </div>
    <div class="errors form-gb_errors"></div>
    <input class="form-gb_input-name" type="text" placeholder="Как к Вам обращаться?*"/>
    <input class="form-gb_input-phone" type="text" placeholder="Ваш телефонный номер*"/>
    <textarea class="form-gb_input-comment" type="text" placeholder="Что Вас интересует?"></textarea>
    <div class="checkbox">
      <input class="form-gb-checkbox" id="menu_form-gb-checkbox" type="checkbox" name="form-gb-checkbox" checked="checked"/>
      <label for="menu_form-gb-checkbox">Я даю согласие на обработку персональных данных по условиям <a href="./terms-of-use.html">пользовательского соглашения</a></label>
    </div>
    <div class="form-button_div"><a class="form-button form-gb_button">Отправить</a></div>
    <div class="loading form-gb_loading"><img src="./img/icons/loading-green.svg" alt="Загрузка"/></div>
  </form>
</div>