
<div class="offer-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
    <div class="img-block">
      <div class="img" style="background-image: url(./img/items/b1.jpg);"></div>
      <div class="status">
        <p>Продано</p>
      </div>
      <div class="overlay"></div><span class="button">Посмотреть</span>
    </div>
    <div class="recommended"><img src="./img/recommend-label(virgin).svg" alt="Рекомендуемое"/>
      <div class="border">
        <p>Рекомендованное</p>
      </div>
    </div>
    <div class="text-block" itemprop="description"><span class="title" itemprop="name">Мини-отель на Невском проспекте и высоким рейтингом Booking 9.2</span><span class="title-overlay"></span>
      <div class="description" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer"><i>Метро:</i>
        <p>Площадь Александра Невского, Садовая, Спасская, Старая деревня</p><br/><i>Помещение:</i>
        <p>в аренду</p><br/><i>Прибыль:</i>
        <p><span>55 000</span> руб./мес.</p><br/>
        <div class="description-overlay"></div>
      </div>
      <div class="cost" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer"><i>Стоимость:</i>
        <div>
          <p class="price tolocalestring" itemprop="price">199 900 000 </p><span class="pricecurrency" itemprop="priceCurrency" content="RUB">руб.</span>
        </div>
      </div>
    </div></a></div>