
<section id="optimization">
  <div class="page-container">
    <div class="primary-block">
      <div class="text">
        <h2>Готовый бизнес - всё включено.</h2>
        <p>
          Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          <br><b>Почему он используется?</b>
          <br>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
          <br><b>Откуда он появился?</b>
          <br>Многие думают, что <a>Lorem Ipsum</a> - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32
          <br>Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
          <br><b>Где его взять?</b>
          <br>Есть много вариантов <a>Lorem Ipsum</a>, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов. 
        </p>
      </div>
      <div class="socials"><a href=""><img src="./img/icons/social-vk-color.svg" alt="ВБИЗНЕСЕ Вконтакте"/></a><a href=""><img src="./img/icons/social-fb-color.svg" alt="ВБИЗНЕСЕ Фейсбук"/></a><a href=""><img src="./img/icons/social-insta-color.svg" alt="ВБИЗНЕСЕ Инстаграм"/></a></div>
    </div>
    <div class="secondary-block text">
      <h2>Частые вопросы:</h2>
      <ul>
        <li>
          <p>1.</p><a href="">Как происходит сделка купли-продажи готового бизнеса?</a>
        </li>
        <li>
          <p>2. </p><a href="">Почему продают бизнес?</a>
        </li>
        <li>
          <p>3.   </p><a href="">Как высчитывается прибыль?</a>
        </li>
        <li>
          <p>4.   </p><a href="">Что входит в стоимость бизнеса?</a>
        </li>
        <li>
          <p>5.   </p><a href="">Какие документы необходимы для покупки или продажи бизнеса?</a>
        </li>
        <li>
          <p>6.   </p><a href="">Чем отличается бизнес в аренду и в собственность?</a>
        </li>
        <li>
          <p>7.   </p><a href="">Что делать после покупки бизнеса?</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="articles-section">
  <div class="page-container">
    <div itemscope="itemscope" itemtype="http://schema.org/ItemList">
      <!-- Компонент article-card-->
      <div class="article-card" itemscope="itemscope" itemtype="http://schema.org/Article"><a href="./article.html" itemprop="url">
          <div class="img-block">
            <div class="img" itemprop="image" style="background-image: url(./img/items/b3.jpg);"></div>
            <div class="overlay"></div><span class="button">Читать</span>
          </div>
          <div class="text-block"><span class="title" itemprop="name">Как правильно оформить кафе-пекарню?</span>
            <meta itemprop="headline" content="Как правильно оформить кафе-пекарню?"/>
            <div class="date">
              <p>29 августа 2018</p>
            </div>
            <meta itemprop="datePublished" content="2018-08-29"/>
            <div class="description" itemprop="description">
              <p>Красиво оформленное кафе, комфортное, с атмосферой уюта, в ассортименте с вкусной выпечкой, заставит вернуться любого. От оформления кафе - пекарни во многом зависит успех заведения. Оно должно быть привлекательным, в то же время не отвлекать от поедания сладостей и чаепития. Планировка кондитерской лавки должна отличаться от питейных или игровых заведений, ресторанов или общепита.</p>
            </div>
            <meta itemprop="articleBody" content="Красиво оформленное кафе, комфортное, с атмосферой уюта, в ассортименте с вкусной выпечкой, заставит вернуться любого. От оформления кафе - пекарни во многом зависит успех заведения. Оно должно быть привлекательным, в то же время не отвлекать от поедания сладостей и чаепития. Планировка кондитерской лавки должна отличаться от питейных или игровых заведений, ресторанов или общепита."/><span class="text-overlay">   </span>
          </div></a></div>
      <!-- Конец компонента-->
      <!-- Компонент article-card-->
      <div class="article-card" itemscope="itemscope" itemtype="http://schema.org/Article"><a href="./article.html" itemprop="url">
          <div class="img-block">
            <div class="img" itemprop="image" style="background-image: url(./img/items/b3.jpg);"></div>
            <div class="overlay"></div><span class="button">Читать</span>
          </div>
          <div class="text-block"><span class="title" itemprop="name">Как правильно оформить кафе-пекарню?</span>
            <meta itemprop="headline" content="Как правильно оформить кафе-пекарню?"/>
            <div class="date">
              <p>29 августа 2018</p>
            </div>
            <meta itemprop="datePublished" content="2018-08-29"/>
            <div class="description" itemprop="description">
              <p>Красиво оформленное кафе, комфортное, с атмосферой уюта, в ассортименте с вкусной выпечкой, заставит вернуться любого. От оформления кафе - пекарни во многом зависит успех заведения. Оно должно быть привлекательным, в то же время не отвлекать от поедания сладостей и чаепития. Планировка кондитерской лавки должна отличаться от питейных или игровых заведений, ресторанов или общепита.</p>
            </div>
            <meta itemprop="articleBody" content="Красиво оформленное кафе, комфортное, с атмосферой уюта, в ассортименте с вкусной выпечкой, заставит вернуться любого. От оформления кафе - пекарни во многом зависит успех заведения. Оно должно быть привлекательным, в то же время не отвлекать от поедания сладостей и чаепития. Планировка кондитерской лавки должна отличаться от питейных или игровых заведений, ресторанов или общепита."/><span class="text-overlay">   </span>
          </div></a></div>
      <!-- Конец компонента-->
    </div>
    <div class="look-more"><a href="./articles.html">Читать другие статьи</a></div>
  </div>
</section>