
<div id="submit-your-application">
  <div class="submit-your-application_overlay submit-your-application_close"></div>
  <form form-gb-page="|!TODO: адрес текущей страницы!|" form-gb-desc="popup-form">
    <div class="close_div"><img class="close submit-your-application_close" src="./img/icons/close.svg" alt="Закрыть"/></div>
    <div class="header">
      <p>Оставить заявку</p>
    </div>
    <div class="errors form-gb_errors"></div>
    <input class="form-gb_input-name" type="text" placeholder="Как к Вам обращаться?*"/>
    <input class="form-gb_input-phone" type="text" placeholder="Ваш телефонный номер*"/>
    <textarea class="form-gb_input-comment" type="text" placeholder="Что Вас интересует?"></textarea>
    <div class="checkbox">
      <input class="form-gb-checkbox" id="menu_form-gb-checkbox" type="checkbox" name="form-gb-checkbox" checked="checked"/>
      <label for="menu_form-gb-checkbox">Я даю согласие на обработку персональных данных по условиям <a href="./terms-of-use.html">пользовательского соглашения</a></label>
    </div>
    <div class="form-button_div"><a class="form-button form-gb_button">Отправить</a></div>
    <div class="loading form-gb_loading"><img src="./img/icons/loading-green.svg" alt="Загрузка"/></div>
  </form>
</div>