
<section id="services">
  <div class="page-container">
    <div class="services-header"></div>
    <div class="services-container">
      <div class="service-item active">
        <div class="header-block">
          <div class="bg" style="background-image:url(./img/pages/services-component_ready-business.jpg);"></div><img class="arrow" src="./img/icons/arrow-right-white.svg"/><b>1. Готовый бизнес</b>
        </div>
        <div class="text-block">
          <div class="text-container"><b class="header">Готовый бизнес</b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolorem error dolor fuga fugiat at ea explicabo nisi.<br><br> Consectetur cum rerum, quam libero, iste id quasi eaque similique harum hic at itaque quos tenetur? Sequi culpa odio soluta, mollitia nostrum modi architecto laboriosam possimus ad pariatur repellat veritatis debitis assumenda ratione? Excepturi repellat obcaecati adipisci totam ratione, rerum unde, cupiditate, quod eveniet explicabo quibusdam dolorem. Assumenda itaque cumque ipsa similique sapiente cupiditate aut, suscipit vero quo blanditiis ut quam, tenetur facere error! </p>
            <div class="buttons"><a class="button green" href="catalog.html">Каталог бизнеса</a><br/><a class="button green" href="services-simple.html">Купить бизнес</a><a class="button green" href="services-simple.html">Продать бизнес</a></div>
            <div class="simple-buttons">
              <p>У нас можно: </p><a class="button simple" href="services-simple.html">купить готовый бизнес</a>
              <p>или</p><a class="button simple" href="services-simple.html">продать свой бизнес</a>
            </div>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="header-block">
          <div class="bg" style="background-image:url(./img/pages/services-component_business-redevelopment.jpg);"></div><img class="arrow" src="./img/icons/arrow-right-white.svg"/><b>2. Business reDevelopment</b>
        </div>
        <div class="text-block">
          <div class="text-container"><b class="header">Business reDevelopment</b>
            <p>dolorem error dolor fuga fugiat at ea explicabo nisi. Consectetur cum rerum, quam libero, iste id quasi eaque similique harum hic at itaque quos tenetur? Sequi culpa odio soluta, mollitia nostrum modi architecto laboriosam possimus ad pariatur repellat veritatis debitis assumenda ratione? Excepturi repellat obcaecati adipisci totam ratione, rerum unde, cupiditate, quod eveniet explicabo quibusdam dolorem. Assumenda itaque cumque ipsa similique sapiente cupiditate aut, suscipit vero quo blanditiis ut quam, tenetur facere error! Dolore obcaecati reiciendis maiores atque necessitatibus, perspiciatis ratione quod nostrum ducimus? Culpa, illo deserunt. Qui magni pariatur consectetur.</p>
            <p>dolorem error dolor fuga fugiat at ea explicabo nisi. Consectetur cum rerum, quam libero, iste id quasi eaque similique harum hic at itaque </p>
            <div class="buttons"><a class="button green" href="services-bundle.html">Подробнее</a></div>
            <div class="simple-buttons">
              <p>Услуга business reDevelopment состоит из: </p><a class="button simple" href="services-simple.html">покупки готового бизнеса,</a><a class="button simple" href="services-simple.html">создания бренда,</a><a class="button simple" href="services-simple.html">ремонтных работ,</a><a class="button simple" href="services-simple.html">маркетинга</a>
              <p>и</p><a class="button simple" href="services-simple.html">юридических услуг</a>
            </div>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="header-block">
          <div class="bg" style="background-image:url(./img/pages/services-component_business-development.jpg);"></div><img class="arrow" src="./img/icons/arrow-right-white.svg"/><b>3. Business Development</b>
        </div>
        <div class="text-block">
          <div class="text-container"><b class="header">Business Development</b>
            <p>Earum dolorem error dolor fuga fugiat at ea explicabo nisi. Consectetur cum rerum, quam libero, iste id quasi eaque similique harum hic at itaque quos tenetur? Sequi culpa odio soluta, mollitia nostrum modi architecto laboriosam possimus ad pariatur repellat veritatis debitis assumenda ratione? Excepturi repellat obcaecati adipisci totam ratione, rerum unde, cupiditate, quod eveniet explicabo quibusdam dolorem. Assumenda itaque cumque ipsa similique sapiente cupiditate aut, suscipit vero quo blanditiis ut quam, tenetur facere error! Dolore obcaecati reiciendis maiores atque necessitatibus, perspiciatis ratione quod nostrum ducimus? Culpa, illo deserunt. Qui magni pariatur consectetur.</p>
            <div class="buttons"><a class="button green" href="services-bundle.html">Подробнее</a></div>
            <div class="simple-buttons">
              <p>Услуга business Development состоит из: </p><a class="button simple" href="services-simple.html">создания бренда,</a><a class="button simple" href="services-simple.html">ремонтных работ,</a><a class="button simple" href="services-simple.html">маркетинга</a>
              <p>и</p><a class="button simple" href="services-simple.html">юридических услуг</a>
            </div>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="header-block">
          <div class="bg" style="background-image:url(./img/pages/services-component_business-control.jpg);"></div><img class="arrow" src="./img/icons/arrow-right-white.svg"/><b>4. Бизнес с управлением</b>
        </div>
        <div class="text-block">
          <div class="text-container"><b class="header">Бизнес с управлением</b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolorem error dolor fuga fugiat at ea explicabo nisi. Consectetur cum rerum, quam libero, iste id quasi eaque similique harum hic at itaque quos tenetur? Sequi culpa odio soluta, mollitia nostrum modi architecto laboriosam possimus ad pariatur repellat veritatis debitis assumenda ratione? Excepturi repellat obcaecati adipisci totam ratione, rerum unde, cupiditate, quod eveniet explicabo quibusdam dolorem. Assumenda itaque cumque ipsa similique sapiente cupiditate aut, suscipit vero quo blanditiis ut quam, tenetur facere error! Dolore obcaecati reiciendis maiores atque necessitatibus, perspiciatis ratione quod nostrum ducimus? Culpa, illo deserunt. Qui magni pariatur consectetur.</p>
            <div class="buttons"><a class="button green" href="services-bundle.html">Подробнее</a></div>
            <div class="simple-buttons">
              <p>Услуга "Бизнес с управлением" состоит из: </p><a class="button simple" href="services-simple.html">создания бренда,</a><a class="button simple" href="services-simple.html">ремонтных работ,</a><a class="button simple" href="services-simple.html">маркетинга,</a><a class="button simple" href="services-simple.html">юридических услуг</a>
              <p>и</p><a class="button simple" href="services-simple.html">полное ведение и управление бизнесом</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="simple-services">
  <div class="page-container">
    <div class="simple-services-header">
      <p>Каталог услуг</p>
    </div>
    <div class="simple-services-container" itemscope="itemscope" itemtype="http://schema.org/ItemList">
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_judgement.jpg);"></div><b itemprop="name">Юридические услуги</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p><i>Какая-то заметка ради разнообразия карточки: можно цену, преимущество или еще какую ересь</i>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_design-and-projecting.jpg);"></div><b itemprop="name">Дизайн и проектирование</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus </p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_franchise.jpg);"></div><b itemprop="name">Создание франшизы</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
            <p>Lorem ipsum dolor </p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_branding.jpg);"></div><b itemprop="name">Брендинг и <br>фирменный стиль</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_marketing.jpg);"></div><b itemprop="name">Маркетинг и продажи</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
            <p>Lorem ipsum dolor sit amet consectetur </p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_video-production.jpg);"></div><b itemprop="name">Video-production и <br>создание контента</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_workers.jpg);"></div><b itemprop="name">Найм персонала</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_finances.jpg);"></div><b itemprop="name">Финансовые услуги</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
            <p>Lorem ipsum dolor sit amet consectetur </p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
      <div class="simple-services-card" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product"><a href="./offer.html" itemprop="url">
          <div class="header-block">
            <div class="bg" style="background-image: url(./img/pages/services-component_building.jpg);"></div><b itemprop="name">Строительные работы</b>
          </div>
          <div class="text-block" itemprop="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima ad possimus reprehenderit ducimus, omnis nemo quis fuga suscipit consectetur?</p>
          </div>
          <div class="arrow" style="background-image: url(./img/icons/arrow-down-green.svg);"></div>
          <div class="overlay">
            <div class="gradient"></div><span class="button">Подробнее</span>
          </div></a></div>
    </div>
  </div>
</section>