
<section id="advantages">
  <div class="no-others">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Отсеиваем обращения</h3>
      <p>Мы проверяем желающих приобрести бизнес на серьезность намерений, и только потом прилашаем их на просмотр. <br>Мы ценим Ваше время.</p>
    </div>
    <div class="animation">
      <div class="el1"><img src="./img/pages/services/component6-2.png" alt="Шахматы"/></div>
      <div class="el2"><img src="./img/pages/services/component6-2.png" alt="Шахматы"/></div>
      <div class="el3"><img src="./img/pages/services/component6-3.png" alt="Шахмата"/></div>
    </div>
  </div>
  <div class="all-documents">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Оформляем все документы</h3>
      <p>Ведём Вас на всех этапах сделки от начала до конца, а также оформляем все необходимые документы.</p>
    </div>
    <div class="animation">
      <div class="el1"></div>
      <div class="el2"></div>
      <div class="el3"></div>
      <div class="el4"></div>
    </div>
  </div>
  <div class="advertisement">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Рекламируем повсюду</h3>
      <p>Мы используем разные методы для продажи Вашего бизнеса. К нам приходят из Google, Яндекс, социальных сетей и крупных торговых площадок. </p>
    </div>
    <div class="animation">
      <div class="relablock">
        <div class="el1"><img src="./img/pages/services/component5-2.png" alt="Картина реклама 1"/></div>
        <div class="el2"><img src="./img/pages/services/component5-3.png" alt="Картина реклама 2"/></div>
        <div class="el3"><img src="./img/pages/services/component5-4.png" alt="Картина реклама 3"/></div>
        <div class="el4"><img src="./img/pages/services/component5-9.png" alt="Картина реклама 4"/></div>
        <div class="el5"><img src="./img/pages/services/component5-6.png" alt="Картина реклама 5"/></div>
        <div class="el6"><img src="./img/pages/services/component5-7.png" alt="Картина реклама 6"/></div>
        <div class="el7"><img src="./img/pages/services/component5-8.png" alt="Картина реклама 7"/></div>
        <div class="el8"><img src="./img/pages/services/component5-5.png" alt="Картина реклама 8"/></div>
        <div class="el9"><img src="./img/pages/services/component5-10.png" alt="Картина реклама 9"/></div>
      </div>
    </div>
  </div>
  <div class="protection">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Двухступенчатая схема сделки</h3>
      <p>Заключая договор, Вы будете в безопасности на всех этапах сделки благодаря двухступенчатой схеме. Подробнее о ней читайте <a href="1" target="_blank">в этой статье</a>.</p>
    </div>
    <div class="animation">
      <div class="el1"></div>
    </div>
  </div>
</section>