
<section id="advantages">
  <div class="all-is-real">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Все объекты <br>настоящие</h3>
      <p>Мы не размещаем фейковые объявления. Все выставленные объекты существуют и продаются.</p>
    </div>
  </div>
  <div class="all-documents">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Оформляем все документы</h3>
      <p>Ведём Вас на всех этапах сделки от начала до конца, а также оформляем все необходимые документы.</p>
    </div>
    <div class="animation">
      <div class="el1"></div>
      <div class="el2"></div>
      <div class="el3"></div>
      <div class="el4"></div>
    </div>
  </div>
  <div class="education">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Обучение</h3>
      <p>Мы занимаемся только определёнными нишами, потому что знаем их. Мы расскажем Вам как управлять приобретаемым бизнесом и развивать его.</p>
    </div>
    <div class="animation">
      <div class="el2"><img src="./img/pages/services/component3-3.png" alt="Обучение книга 1"/></div>
      <div class="el1"><img src="./img/pages/services/component3-2.png" alt="Обучение книга 2"/></div>
    </div>
  </div>
  <div class="protection">
    <div class="background"></div>
    <div class="gradient"></div>
    <div class="text">
      <h3>Двухступенчатая схема сделки</h3>
      <p>Заключая договор, Вы будете в безопасности на всех этапах сделки благодаря двухступенчатой схеме. Подробнее о ней читайте <a href="1" target="_blank">в этой статье</a>.</p>
    </div>
    <div class="animation">
      <div class="el1"></div>
    </div>
  </div>
</section>